{% extends 'base.html.twig' %}

{% block title %}Editat cu succes{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles.css') }}">
    <style>
        :root {
            --background-image-url: url('{{ asset('images/HomepageBackground.jpg') }}');
        }
    </style>
{% endblock %}
{% block body %}
    <div class="form-container">
        <h1>Exercitiul a fost editat cu succes!</h1>
        <button>Mergi in homepage</button>
    </div>
{% endblock %}