body {
    font-family: "Bruno Ace", sans-serif;
    background-image: var(--background-image-url);
    background-size: cover;
    background-position: center;
    position: relative;
}

.bruno-ace-regular {
    font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.form-container {
    background-image: var(--background-image-url);
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 1340px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.form-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 10px;
    font-weight: bold;
    margin-right: 10px;
    display: flex;
    justify-content: start;
}

.form-container input,
.form-container select,
.form-container textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
}

.form-container .btn {
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.form-container .btn:hover {
    background-color: #0056b3;
}
.position-relative {
    position: relative;
}

.first-text, .second-text, .third-text, .fourth-text {
    position: absolute;
    font-family: 'Bruno Ace', sans-serif;
}

.first-text {
    top: 620px;
    left: 15%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    line-height: 1.0;
}

.white-bar {

    padding: 5px 5px 5px 5px;
    background: #EAEAEA;
}

.second-white-bar {
    background: #EAEAEA;
}
.content {
    margin-left: -117px;
    width: 616px;
}

.content-section {
    padding: 50px 0;
}
.content-box {
    padding-left: 100px;
    padding-top: 150px;
    background: #5E5E5E;
    font-size: 26px;
    width: 700px;
    height: 712px;
}
.navbar-custom {
    background-color: #EAEAEA;
    border-radius: 40px;
    margin: 20px auto;
    padding: 8px 12px 8px 12px;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
}
.navbar-custom .navbar-nav .nav-link {
    color: black;
    font-weight: bold;
    margin-right: 15px;
}
.navbar-custom .navbar-brand {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}
.hero-text {
    position: absolute;
    top: 25px;
    left: 20px;
    color: #EAEAEA;
    font-size: 20px;

}