<div class="footer">
    <div class="col-md-12 text-center">
        <h5>Contact</h5>
        <p>Email: contact@example.com</p>
        <p>Telefon: +123 456 7890</p>
    </div>
    <div class="col-md-12 text-center">
        <p>&copy; 2024 Numele Companiei. Toate drepturile rezervate.</p>
    </div>
</div>